# Redis
REDIS_HOST=redis
REDIS_PORT=6379

CHROMA_HOST=chroma
CHROMA_PORT=8000
CHROMA_IS_PERSISTENT=true
POSTGRES_DB=finam_hack
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Telegram
TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=dslfksdlfkdslsdfdshjfgsd
TELEGRAM_TOKEN=fsdfsdf

OPEN_ROUTER_API_KEY=<your_api_key_here>
OPEN_ROUTER_MODEL=gpt-4.1-mini
OPEN_ROUTER_URL=https://openrouter.ai/api/v1/chat/completions